* {
    box-sizing: border-box;
}

.footer {
    max-width: 1440px;
    width: 100%;
    margin: 50px auto 0;
    background-color: #2B4074;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.watch-button {
    width: 230px;
    height: 60px;
    border-radius: 3px;
    background-color: #2B4074;
    margin: 0 auto;
    position: relative;
    top: -20px;
    text-align: center;
}

.watch-button-img {
    width: 83px;
    height: 55px;
    margin: 0;
    padding-bottom: 5px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    align-self: center;
    width: 90%;
    padding: 30px 5px 70px;
}

.footer-content-text {
    padding: 5px;
    margin: 0;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 2px;
    width: 90%;
}

.footer-content-social {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px #7EBF84 solid;
    border-bottom: 1px #7EBF84 solid;
}

.social-item {
    width: 25%;
    height: 63px;
    text-align: center;
    border-right: 1px #7EBF84 solid;
    padding: 29px 0 20px;
}

.last-social-item {
    border-right: none;
}

.footer-content-widgets {
    width: 90%;
    display: flex;
    justify-content: flex-start;
}

.widgets-item {
    width: 25%;
    margin: 0;
    padding-right: 30px;
    display: flex;
    flex-direction: column;

}

.widgets-item-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2px;
    color: #F9F6E5;
    margin: 0;
    padding-bottom: 20px;
}

.widgets-item-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.footer a {
    text-decoration: none;
}

.button-back-to-top {
    width: 100%;
    height: 42px;
    background-color: #F9F6E5;
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 150px;
}

.button-back-to-top-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2px;
    color: #4A4A4A;
    padding: 10px 10px 10px 0;
}

@media screen and (max-width:1024px) {
    .footer-content-text {
        max-width: 800px;
        font-size: 36px;
        padding-left: 0;
    }

    .social-item {
        padding-top: 23px;
    }

    .widgets-item-title {
        font-size: 18px;
    }

    .widgets-item-text {
        font-size: 16px;
        line-height: 20px;
    }

    .button-back-to-top {
        padding-right: 10px;
    }
}

@media screen and (max-width:768px) {
    .footer {
        margin-top: 45px;
    }

    .footer-container {
        gap: 40px;
    }

    .footer-content-text {
        font-size: 32px;
    }

    .footer-content-widgets {
        flex-wrap: wrap;
    }

    .widgets-item {
        width: 50%;
        flex: 50%;
        padding-top: 35px;
    }
}

@media screen and (max-width:640px) {

    .footer-content-text {
        font-size: 24px;
        line-height: 26px;
    }

    .widgets-item {
        padding-right: 0;
    }

    .footer-content-widgets> :nth-child(2) {
        padding-left: 60px;
    }

    .footer-content-widgets> :nth-child(4) {
        padding-left: 60px;
    }
}

@media screen and (max-width:639px) {
    .footer-content-text {
        font-size: 20px;
        line-height: 22px;
        text-align: center;
    }

    .footer-content-social {
        max-width: 25px;
        width: 30%;
        flex-direction: column;
        border-top: none;
        border-bottom: none;
    }

    .social-item {
        border-right: none;
        padding: 0 0 10px 0;
        width: 100%;
        height: 36px;
    }

    .footer-content-widgets {
        max-width: 280px;
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .widgets-item {
        width: 100%;
        padding: 0 0 45px 0;
        text-align: center;
    }

    .footer-content-widgets> :nth-child(2) {
        padding-left: 0;
    }

    .footer-content-widgets> :nth-child(4) {
        padding-left: 0;
    }

    .button-back-to-top {
        height: 142px;
        text-align: center;
        flex-direction: column;
    }

    .button-back-to-top-text {
        padding: 50px 0 20px 0;
    }
}