.intro {
    max-width: 1440px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    height: 668px;
    background-image: url("../images/intro/bg-img.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 886px;
    margin: 0 auto;
}

.title {
    max-width: 514px;
    color: #FFFFFF;
    line-height: 96px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 96px;
    text-align: center;
    margin: 0 auto;
}

.intro-text {
    max-width: 866px;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 0;
    padding: 10px;
}

.intro-line {
    display: none;
    width: 61.05px;
    height: 8px;
    margin: 10px auto;
    background-color: #4A4A4A;
}

.button-read-more {
    width: 200px;
    height: 50px;
    border-radius: 3px;
    border: 1px #2B4074;
    background-color: #2B4074;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #F9F6E5;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-read-more:hover {
    transform: scale(1.10);
    background-color: #142652;
}

.pagination-intro {
    width: 100px;
    height: 12px;
    display: flex;
    justify-content: space-between;
}

.oval {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFFFFF;
    cursor: pointer;
}

.oval.active {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px #FFFFFF solid;
    background-color: #ffffff00;
    cursor: pointer;
}

.previous-arrow,
.next-arrow {
    display: flex;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 264px;
    right: 0;
    background-color: #2B4074;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.previous-arrow:hover {
    background-color: #182954;
}

.next-arrow {
    top: 335px;
    background-color: #F9F6E5;
}

.next-arrow:hover {
    background-color: #c4bfa7;
}

@media screen and (max-width:1024px) {
    .title {
        max-width: 588px;
        line-height: 84px;
        font-size: 84px;
    }

    .intro-text {
        max-width: 587px;
        font-size: 18px;
        line-height: 20px;
    }

    .title-container {
        max-width: 588px;
    }

    .intro {
        height: 618px;
    }

    .oval {
        background-color: #2B4074;
    }

    .oval.active {
        border: 1px #476E4D solid;
    }

    .previous-arrow {
        width: 56px;
        height: 56px;
        top: 253px;
    }

    .next-arrow {
        width: 56px;
        height: 56px;
        top: 309px;
    }
}

@media screen and (max-width:768px) {
    .title {
        max-width: 588px;
        font-size: 60px;
        line-height: 60px;
        letter-spacing: 0px;
    }

    .intro-text {
        max-width: 560px;
        font-size: 15px;
        line-height: 20px;
    }

    .title-container {
        max-width: 589px;
    }

    .intro {
        height: 465px;
    }

    .previous-arrow {
        top: 176px;
    }

    .next-arrow {
        top: 232px;
    }
}

@media screen and (max-width:640px) {
    .intro-text {
        display: none;
    }

    .intro-line {
        display: block;
    }

    .intro {
        height: 386px;
    }

    .previous-arrow {
        top: 137px;
    }

    .next-arrow {
        top: 193px;
    }
}

@media screen and (max-width:639px) {
    .title {
        max-width: 320px;
        font-size: 28px;
        line-height: 28px;
        margin: 0;
    }

    .intro-text {
        display: none;
    }

    .title-container {
        max-width: 320px;
    }

    .intro {
        height: 193px;
    }

    .button-read-more {
        display: none;
    }

    .pagination-intro {
        top: 163px;
    }

    .previous-arrow,
    .next-arrow {
        display: none;
    }
}