.promo {
    max-width: 1440px;
    width: 100%;
    height: 192px;
    margin: 0 auto;
    background-color: #2B4074;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.promo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: #FFFFFF;
    margin: 0;
}

.promo-text .title-promo {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    margin: 0;
}

.promo-text .description-promo {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0px;
    padding: 16px 0 0 0;
    margin: 0;
}

.button-call-me {
    width: 200px;
    height: 50px;
    border-radius: 3px;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0%;
    text-transform: uppercase;
    padding: 0;
    cursor: pointer;
    background-color: #F9F6E5;
    color: #2B4074;
    border: 1px #F9F6E5;
    font-weight: 500;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.button-call-me:hover {
    transform: scale(1.10);
}

@media screen and (max-width:1024px) {
    .promo {
        height: 160px;
    }

    .promo-text .title-promo {
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0px;
    }

    .promo-text .description-promo {
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (max-width:768px) {
    .promo {
        height: 187px;
    }

    .promo-text .title-promo {
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0px;
    }

    .promo-text .description-promo {
        font-size: 14px;
        line-height: 16px;
        padding-top: 25px;
    }
}

@media screen and (max-width:640px) {
    .promo {
        height: 254px;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 20px;
    }

    .promo-text {
        text-align: center;
    }

    .promo-text .title-promo {
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0px;
    }

    .promo-text .description-promo {
        font-size: 16px;
        line-height: 18px;
    }
}

@media screen and (max-width:639px) {
    .promo {
        height: 301px;
    }

    .promo-text .title-promo {
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0px;
    }

    .promo-text .description-promo {
        font-size: 16px;
        line-height: 18px;
    }
}


.roboto-condensed {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.dosis {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}