* {
    box-sizing: border-box;
}

.recent-work {
    max-width: 1440px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    background: linear-gradient(to bottom, rgba(43, 64, 116, 1), rgba(255, 255, 255, 0));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 30px;
    gap: 20px;
}

.recent-work-title {
    padding: 20px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.title-text {
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0px;
    margin: 0;
}

.title-line {
    width: 100px;
    height: 8px;
    background-color: #FFFFFF;
    margin: 0;
}

.recent-work-content {
    width: 80%;
    display: flex;
    justify-content: center;
}

.content-item {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    gap: 29px;
    padding: 10px;
}

.content-item-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2px;
    text-align: center;
    color: #2B4074;
    margin: 0;
}

.content-item-img {
    position: relative;
    width: 100%;
    display: flex;
}

.item-img {
    width: 100%;
    border-radius: 4px;
}

.background-inf-img {
    position: absolute;
    top: 5%;
    right: 0;
    left: 0;
    margin: 0 auto;
    display: none;
    width: 90%;
    height: 90%;
    border-radius: 4px;
    opacity: 83.49%;
    background-color: #F9F6E5;
}

.img-icons {
    display: flex;
    opacity: 0%;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.content-item-img:hover .background-inf-img {
    display: block;
}

.content-item-img:hover .img-icons {
    opacity: 100%;
}

@media screen and (max-width:1024px) {
    .recent-work-content {
        justify-content: center;
        flex-wrap: wrap;
    }

    .content-item {
        width: 50%;
    }

    .content-item-img {
        align-self: center;
    }
}

@media screen and (max-width:640px) {
    .recent-work {
        padding: 10px 0 20px;
    }

    .recent-work-title {
        padding: 10px;
    }

    .recent-work-content {
        flex-direction: column;
        align-items: center;
    }

    .content-item {
        width: 100%;
        justify-content: center;
    }

    .background-inf-img {
        top: 21.17px;
    }
}

@media screen and (max-width:639px) {
    .title-text {
        font-size: 24px;
    }

    .title-line {
        width: 50px;
    }

    .recent-work-content {
        padding: 0 5px 0 5px;
    }

    .background-inf-img {
        top: 11px;
    }
}