.services {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.content-service {
    max-width: 393px;
    margin: 0;
    padding-top: 76px;
    padding-left: 62px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-self: flex-start;
}

.title-service {
    max-width: 131px;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0px;
    margin: 0;
    color: #2B4074;
    padding-bottom: 30px;
}

.content-title {
    color: #4A4A4A;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0px;
    margin: 0;
}

.content-line {
    width: 98.74px;
    height: 8px;
    background-color: #2B4074;
}

.content-description {
    color: #797979;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    margin: 0;
}

.grid-services {
    display: grid;
    width: 60%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 273.5px 273.5px;
    border: 1px #F9F6E5 solid;
    gap: 0;
    justify-content: center;
    align-items: center;
}

.grid-items {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px #F9F6E5 solid;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.content-items {
    width: 90%;
    height: 90%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.content-items-title,
.content-items-fullView {
    color: #4A4A4A;
    text-align: center;
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2px;
}

.content-items-title,
.services-img {
    position: relative;
    top: 30%;
}

.content-items-description {
    opacity: 0;
    color: #9B9B9B;
    text-align: center;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0;
    padding: 5px;
    box-sizing: border-box;
}

.content-items-fullView {
    opacity: 0;
    padding: 5px;
    box-sizing: border-box;
}

.content-items-fullView,
.content-items-fullView a:visited {
    color: #2B4074;
    text-decoration: none;
}

.grid-items:hover .content-items {
    border: 4px #2B4074 solid;
    gap: 0;
    justify-content: space-around;
}

.grid-items:hover .content-items-description {
    opacity: 100%;
}

.grid-items:hover .content-items-fullView {
    opacity: 100%;
}

.grid-items:hover .content-items-title {
    top: 0%;
}

.grid-items:hover .services-img {
    top: 0%;
}

@media screen and (max-width:1024px) {
    .services {
        flex-direction: column;
    }

    .content-service {
        width: 100%;
        max-width: none;
        padding: 30px 62px 10px;
        align-self: center;
    }

    .title-service {
        align-self: center;
    }

    .content-line {
        width: 100px;

    }

    .grid-services {
        width: 100%;
    }
}

@media screen and (max-width:768px) {

    .title-service {
        padding-bottom: 10px;
    }

    .grid-services {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 323px 323px 323px 323px;
    }
}

@media screen and (max-width:640px) {

    .content-service {
        text-align: center;
        align-items: center;
    }

    .grid-services {
        grid-template-rows: 316px 316px 316px 316px;
    }
}

@media screen and (max-width:639px) {

    .title-service {
        font-size: 24px;
        letter-spacing: 2px;
    }

    .content-service {
        padding: 20px;
        gap: 20px;
    }

    .content-title {
        font-size: 20px;
        line-height: 24px;
    }

    .content-description {
        font-size: 15px;
        line-height: 17px;
    }

    .grid-services {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px;
    }
}