* {
    box-sizing: border-box;
}

.video-block {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.video-block-content {
    display: flex;
    justify-content: space-around;
    width: 80%;
    padding-top: 80px;
    padding-bottom: 70px;
    gap: 50px;
}

.content-img {
    width: 50%;
    border-radius: 4px;
    margin: 0 10px 0;
    object-fit: cover;
    object-position: center;
}

.content-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    gap: 20px;
}

.text-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0;
    color: #4A4A4A;
    margin: 0;
}

.text-title-line {
    width: 113.48px;
    height: 8px;
    background-color: #2B4074;
    margin: 0;
}

.text-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
    color: #9B9B9B;
    margin: 0;
}

.button-watch-video {
    width: 230px;
    height: 60px;
    border-radius: 3px;
    border: 1px #2B4074;
    background-color: #2B4074;
    color: #F9F6E5;
    margin: 0;
    padding: 20px 30px;
    cursor: pointer;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

@media screen and (max-width:1024px) {
    .video-block-content {
        width: 95%;
    }
}

@media screen and (max-width:768px) {
    .video-block-content {
        padding-top: 40px;
        padding-bottom: 48px;
    }

    .content-img {
        max-width: 240px;
        max-height: 227px;
        width: 40%;
    }

    .text-title {
        font-size: 36px;
        line-height: 38px;
    }

    .text-title-line {
        width: 88.64px;
    }

    .text-description {
        font-size: 16px;
    }

    .button-watch-video {
        margin: 10px -70px;
    }
}

@media screen and (max-width:640px) {
    .video-block-content {
        flex-direction: column;
        align-items: center;
        padding-bottom: 53px;
    }

    .content-img {
        max-width: none;
        max-height: none;
        width: 80%;
    }

    .content-text {
        align-items: center;
        width: 100%;
    }

    .text-description {
        line-height: 18px;
        text-align: center;
    }
}

@media screen and (max-width:639px) {
    .video-block-content {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .text-title {
        font-size: 24px;
        line-height: 38px;
    }

    .text-title-line {
        width: 45px;
    }
}